<!DOCTYPE html>

{% load static %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Vex Elo Rankings</title>
    <script src="{% static "app/jquery/jquery-3.2.1.js" %}"></script>
    <script src="{% static "app/popper/popper.js" %}"></script>
    <script src="{% static "app/bootstrap/js/bootstrap.js" %}"></script>
    <script src="{% static "app/datatables/datatables.js" %}"></script>
    <script src="{% static "app/rankings.js" %}"></script>
    <link type="text/css" rel="stylesheet" href={% static "app/bootstrap/css/bootstrap.css" %}>
    <link type="text/css" rel="stylesheet" href={% static "app/datatables/datatables.css" %}>
    <link type="text/css" rel="stylesheet" href={% static "app/rankings.css" %} />
</head>
<body>
    <div class="container pt-3">
        <div class="form-group text-center">
            <select class="custom-select center-block" id="week-select">
                {% for week in week_range %}
                    <option value={{ week }}>Week {{week|add:"1"}}</option>
                {% endfor %}
            </select>
        </div>
        <table id="rankings-table" class="table table-striped table-bordered">       
            <thead>
                <tr>
                    <th>Team Name</th>
                    <th>Elo</th>
                    <th>Change This Week</th>
                </tr>
            </thead>
        </table>
        <div class="container pt-3 pb-3">
            <h1 class="display-4 text-center">Predict Match</h1>
            <div class="row">
                <div class="col">
                    <div>
                        <h1 class="display-1 red-chance">0</h1>
                        <p>chance that the red team wins</p>
                    </div>
                    <div class="form-group">
                        <label for="red-team-1">Red Team 1:</label>
                        <input class="form-control" id="red-team-1" />
                    </div>
                    <div class="form-group">
                        <label for="red-team-2">Red Team 2:</label>
                        <input class="form-control" id="red-team-2" />
                    </div>
                </div>
                <!--Empty column here to keep some space in between the other two-->
                <div class="col">

                </div>
                <div class="col">
                    <div class="float-right">
                        <h1 class="display-1 float-right blue-chance">0</h1>
                        <p class="float-right">chance that the blue team wins</p>
                    </div>
                    <div class="form-group">
                        <label class="float-right" for="blue-team-1">Blue Team 1:</label>
                        <input class="form-control" id="blue-team-1" />
                    </div>
                    <div class="form-group">
                        <label class="float-right" for="blue-team-2">Blue Team 2:</label>
                        <input class="form-control" id="blue-team-2" />
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" id="predict-btn">Predict Match</button>
            </div>
        </div>
    </div>
</body>
</html>