<!DOCTYPE html>

{% load static %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Vex Elo Rankings</title>
    <script src="{% static "app/jquery/jquery-3.2.1.js" %}"></script>
    <script src="{% static "app/popper/popper.js" %}"></script>
    <script src="{% static "app/bootstrap/js/bootstrap.js" %}"></script>
    <script src="{% static "app/datatables/datatables.js" %}"></script>
    <script src="{% static "app/rankings.js" %}"></script>
    <link type="text/css" rel="stylesheet" href={% static "app/bootstrap/css/bootstrap.css" %}>
    <link type="text/css" rel="stylesheet" href={% static "app/datatables/datatables.css" %}>
</head>
<body>
    <div class="container">
        <table id="rankings-table" class="table table-striped table-bordered">       
            <thead>
                <tr>
                    <th>Team Name</th>
                    <th>Elo</th>
                    <th>Change This Week</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>